################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructuresSamples/.vs/DataStructuresSamples/v15
/DataStructuresSamples/Assignment_1/Debug/Assignment_1.tlog
/DataStructuresSamples/Assignment_1/Debug/Assignment_1.log
/DataStructuresSamples/Assignment_2/Debug/Assignment_2.tlog
/DataStructuresSamples/Assignment_2/Debug/Assignment_2.log
/DataStructureSamples
/DataStructureSamples
/DataStructuresSamples/Assignment_2/HW - 2/Dosyalar/TürkçeKarakter.png
/DataStructuresSamples/Assignment_2/HW - 2/Dosyalar/turkish-input.txt
/DataStructuresSamples/Assignment_2/HW - 2/Dosyalar/readMe.pdf
/DataStructuresSamples/Assignment_2/HW - 2/Dosyalar/Homework-2.pdf
/DataStructuresSamples/Assignment_2/HW - 2/Dosyalar/english-input.txt
/DataStructuresSamples/Assignment_2/HW - 2/Dosyalar/Duyuru.txt
